/*top 버튼*/
        .floating_btn{
            position: fixed;
            top: 83%;
            /* left: 90%; */
            width: 50px;
            right: 50px;
            height: 200px;
            overflow: hidden;
            align-items: center;
        }
        /*top 버튼*/
        .top-button {        
            border: 2px solid #c0c0c0;
            border-radius: 100%;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #c0c0c0;
            display: none;
            width: 88%;
            margin: 0 auto;
        }


        .talk>img {
            width: 100%;
            margin-bottom: 5px;
        }

body {
	position: static !important;
	top: 0px !important;
}

iframe.goog-te-banner-frame {
	display: none !important;
}

.skiptranslate>iframe {
	display: none !important;
}

.goog-logo-link {
	display: none !important;
}

.goog-te-gadget {
	color: transparent !important;
	overflow: hidden;
}

.goog-te-balloon-frame {
	display: none !important;
}

.goog-tooltip {
	display: none !important;
}

.goog-tooltip:hover {
	display: none !important;
}

.goog-text-highlight {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
	display: none;
}