@charset "UTF-8";

.footer_container {
	background-color: #e0e0e0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
}

.footerInfo {
	width: 70%;
	padding-left: 3%;
	padding-right: 5%;
}

.answer {
	display: none;
	padding-bottom: 30px;
	padding-left: 3%;
}

.InfoRaw {
	margin-top: 0px;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.wrap {
	padding: 10px;
}

.btn_open {
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.pop_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0;
	text-align: center;
}

.pop_wrap:after {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

.pop_wrap .pop_inner {
	display: inline-block;
	padding: 20px 30px;
	background: #fff;
	width: 600px;
	height: 500px;
	vertical-align: middle;
	font-size: 15px;
	overflow: hidden;
	border: 1px solid black;
}

.pop_inner>div {
	overflow: scroll;
	background-color: aliceblue;
	margin-top: 6%;
	height: 95%;
}

.pop_inner>p {
	padding-top: 30px;
}

.btn_close {
	border: none;
	width: 40px;
	float: right;
	margin-left: auto;
	background-color: #fff;
}

.btn_close>img {
	display: block;
	width: 100%;
	height: auto;
}
/* 오른쪽 */
.footerSns {
	padding-top: 2%;
	padding-right: 2%;
	display: flex;
	flex-direction: column;
	width: 30%;
	display: flex;
}

.sns_image {
	margin-left: 9px;
}

.sns_image>a:hover img {
	transform: scale(1.3);
	transition: transform 1s;
	filter: brightness(70%);
}

.footerSns_image_div:first-child {
	align-self: flex-start;
	display: flex;
}

.footerSns_image_div:last-child {
	align-self: flex-start;
}

.footerSns_image_div {
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.faq-content {
	border-bottom: 1px solid #e0e0e0;
	width: 50%;
	padding-right: 50%;
}

.question {
	font-size: 19px;
	padding: 20px 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	width: 100%;
	text-align: left;
}

.question:hover {
	color: #2962ff;
}

[id$="-toggle"] {
	margin-right: 15px;
}

.que-1-toggle-text {
	font-size: 15px
}

.groupInfo {
	padding-top: 3%;
}

.groupInfo-text {
	font-size: 12px;
}

.groupInfo>div {
	padding-bottom: 5px;
}

.btn_open:hover {
	color: #2962ff;
}