@charset "UTF-8";

/* 전체 구조 */
.footer_container {
	padding: 2px 3% 2% 3%;
	background-color: rgb(240, 240, 240);
	margin: 0px;
}

/* 상단 */
.service_support {
	flex-direction: row;
	margin-bottom: 30px;
}

.service_support>ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 0px;
}

.service_support>ul>li {
	float: left;
	margin-right: 1%;
}

.service_support>ul>li>a {
	color: black;
	text-decoration: none;
}

.sns_image {
	display: flex;
	margin-right: 100px;
	margin-left: 80%;
}

.sns_image>a {
	margin-right: 30px;
}

.service_support_text :hover {
	color: red;
}

.sns_image>a:hover img {
	transform: scale(1.3);
	transition: transform 1s;
	filter: brightness(70%);
}

/* 이용약관 팝업 */
.pop_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0;
	text-align: center;
	background-color: whitesmoke;
	background-color: rgba(255, 255, 255, 0.7);
	
}

.pop_wrap:after {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

.pop_wrap .pop_inner {
	display: inline-block;
	padding: 20px 30px;
	background: #fff;
	width: 600px;
	height: 500px;
	vertical-align: middle;
	font-size: 15px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
}

.pop_inner>div {
	overflow: scroll;
	margin-top: 6%;
	height: 95%;
	 position: relative;
    z-index: 9999;
    background-color: #fff;
}

.pop_inner>p {
	padding-top: 30px;
}

.btn_close {
	border: none;
	width: 40px;
	float: right;
	margin-left: auto;
	background-color: #fff;
}

.btn_close>img {
	display: block;
	width: 100%;
	height: auto;
}

.groupInfo {
	font-size: 14px;
}

.groupInfo>p {
	margin-bottom: 2px;
}
