@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

    body {
     font-family: 'SUITE-Regular';
     font-weight : 900;
    	
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        }
        
    /* 메인 컨텐츠 길이 상관없이 푸터 하단에 고정 */
    main{
        padding: 20px;
        margin-top: auto;
        flex: 1; 
        align-self: flex-start; 
        width: 90%;
     	margin:0px auto;
    }

    
         /* 헤더 전체 div */
        .header_parent_div {
            display: flex;
            padding-right: 6%;
            background-color: rgb(240, 240, 240);
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            justify-content: flex-end;

        }

        .header_parent_div>div {
            margin-left: 1%;
        }

        /* 멤버 안내문구 css */
        #member-information {
            font-size: 14px;
            color: gray;
        }

        /* 버튼 css */
        .gnb_button_div {
            display: flex;
            justify-content: flex-end;
        }

        .gnb-button-style {
            text-decoration: none;
            color: black;
            font-size: 14px;
        }

        .logo {
            margin-top: 1%;
            padding-bottom: 1%;
        }

        .gnb_button_div a,
        .gnb_button_div div {
            display: inline;
        }