@charset "UTF-8";

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        }
        
    /* 메인 컨텐츠 길이 상관없이 푸터 하단에 고정 */
    main{
        padding: 20px;
        margin-top: auto;
        flex: 1; 
        align-self: flex-start; 
        width: 80%;
     
    }

    
 /* GNB */
    header {
        color: black;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;       
        }

    header a {
        color: black;
        text-decoration: none;
        margin: 0 10px;
    } 

    #member-information{
        color: gray;
        font-size: 14px;
    }

        /* 로고 왼쪽 정렬 */
    header > div:first-child {
        margin-right: auto;
    }
    #member-information {
        margin-left: auto;
        margin-right: 10px;
    } 
