@charset "UTF-8";

.container {
	display: flex;
}

.menu-container {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding-right: 10px;
}

.menu-container h2 {
	padding: 20px;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	cursor: pointer;
	border: 1px solid #f0f0f0;
}

.menu:hover, .menu.active {
	background-color: #f0f0f0;
	color: blue;
}

.content {
	flex-grow: 1;
	padding: 20px;
}

.content-section {
	display: none;
}

.content-section h2 {
	margin-bottom: 20px;
}

.thick-line {
	border-top: 2px solid #000;
	margin-bottom: 20px;
}

.thin-line {
	border-top: 1px solid #000;
	margin: 20px 0;
}

.thin-line_gray {
	border-top: 1px solid #f0f0f0;
	margin: 20px 0;
}

.content-section nav {
	text-align: center;
	margin-bottom: 20px;
}

.content-section .float-right {
	text-align: right;
}

.faq-item {
	margin-bottom: 20px;
}

.faq-title {
	cursor: pointer;
	margin-bottom: 10px;
}

.faq-content {
	display: none;
	padding: 10px;
	width: 100%;
	background-color: #f0f0f0;
}

.faq-title:hover {
    color: gray;
}

.faq-content:hover {
    color: gray;
}

.text_q {
	display: inline;
	font-size: 20px;
	font-weight: 600;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 1rem auto;
	background-color: white;
}

/* 테이블 행 */
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

th {
	padding: 10px 8px 10px 8px;
	text-align: left;
	text-align: center;
	border-bottom: 1px solid gray;
	color: #000;
}

.table_table_hover {
	margin: 0px;
	width: 100%;
}

/* 테이블 올렸을 때 */
tbody tr:hover {
	background-color: #d3d3d3;
	opacity: 0.9;
	cursor: pointer;
}

/* 테이블 비율 */
th:nth-child(1), td:nth-child(1) {
	width: 15%;
}

th:nth-child(2), td:nth-child(2) {
	width: 55%;
}

th:nth-child(3), td:nth-child(3) {
	width: 30%;
}

th, td {
	border-left: none;
	border-right: none;
}

main {
	width: 90%;
}

/* 공지 등록 버튼 */
.board_btn_div {
	margin: 20px 10px 20px 10px;
	display: flex;
	align-items: last baseline;
	justify-content: flex-end;
}

.notice_registration_btn {
	margin-left: 10px;
	padding: 5px 8px 5px 8px;
}