@charset "UTF-8";

.board_main_line {
	border-top: 1px solid black;
	margin-top: 5%;
}

.board_main_information {
	margin: 10px 5% 10px 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.board_sub_line {
	border-top: 1px solid black;
	margin-top: 10px;
}

.board_sub_information {
	margin: 10px 5% 10px 5%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.board_writer_div {
	margin-right: 10px;
}

.board_content {
	margin: 5%;
}

/* 내용 */
.board_content_line {
	border-top: 1px solid gray;
	margin-top: 10px;
}

.board_btn_div {
	padding-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: flex-end;
}

.board_btn_div>button {
	margin-left: 10px;
}