@charset "UTF-8";
        .container {
            display: flex;
        }

        .menu-container {
            display: flex;
            flex-direction: column;
            width: 200px;
            padding-right: 10px;
        }

        .menu-container h2 {
            padding: 20px;
        }

        .menu {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            cursor: pointer;
            border: 1px solid #f0f0f0;
        }

        .menu:hover,
        .menu.active {
            background-color: #f0f0f0;
            color: blue;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
        }

        .thick-line {
	border-top: 2px solid #000;
	margin-bottom: 20px;
}
