        /* 페이지 구조 */
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            width: 100%;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: 0 auto;
            background-color: brown;
            margin-bottom: 40px;
            margin-top: 40px;
        }

        /* 페이지 구조(상단) */
        .project-div {
            margin-bottom: 50px; /*상하단 공백 지정*/
        }

        .project-name {
            height: 60px;  /*프로젝트 이름 div 높이*/
            background-color: blueviolet;
            text-align: center;  /* 가로 가운데 정렬*/
            line-height: 60px;  /* 세로 가운데 정렬, height 크기와 동일하게 설정해주세욤!*/
            font-size: 30px;  /*프로젝트 이름 글자 크기*/
        }

        .project-information {
            background-color: black;
            display: flex;
        }

        .project-img {
            background-color: azure;
            flex-grow: 1;  /*가로길이*/
            box-sizing: border-box;
        }

        .project-description {
            background-color: aquamarine;
            width: 40%;  /*가로길이*/
            padding-top: 40px;
            padding-bottom: 20px;
            justify-content: center;

        }
        /* 페이지 상단 좌측 이미지 */
        .project-img img {
            width: 100%; 
            height: auto; 
        }

        /* 페이지 상단 우측 텍스트 스타일 */
        .project-description>div>div>p {
            text-align: left;
            padding-left: 10%;
            width: 100%;
        }

        .project-text {
            padding: 0px;
            margin: 0px;
            font-size: 15px;
            margin-bottom: 10px;  /* 모인 금액, 금액 사이 공백*/
        }

        .project-value {
            display: flex;
            margin: 0px;
            padding: 0px;
            font-size: 30px;
            align-items: baseline;
            margin-bottom: 20px; /*금액 하단 공백*/
        }

        .project-text-unit {
            display: flex;
            padding: 0px;
            margin: 0px;
            font-size: 15px;
        }

        .project-text-alignment {
            width: 100%;
        }

        .project-text-alignment>div>div {
            padding-left: 10%;
            display: flex;
            align-items: baseline;
            padding-top: 0%;
            padding-bottom: 10px;
        }

        /* 페이지 상단 후원하기 버튼 스타일 */
        .sponsor-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .sponsor-button {
            display: flex;
            justify-content: center;
            text-align: center;
            border: 2px solid #c0c0c0;
            border-radius: 5px;
            width: 20%;
            background-color: red;
            padding: 10px;
            margin: 0 auto;
        }

        .sponsor-button>a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }


        /* 페이지 구조(하단) */
        .product-div {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }

        .product-description {
            background-color: blue;
            padding: 20px;
            flex-grow: 1;
            overflow: auto; /* 스크롤이 필요할 때만 나타나게함 -- 스크롤 필요 없으면 빼주세요!*/
            max-height: 800px; /* 최대 높이 지정, 지정 높이 초과 시 스크롤 노출 -- 스크롤 필요 없으면 빼주세요!*/
        }

        .originator-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: green;
            padding: 20px;
            width: 30%;
        }

        /* 이전 프로젝트 보기 */
        .project-button {
            border: 2px solid #c0c0c0;
            border-radius: 5px;
            width: auto;
            background-color: white;
            padding: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .project-button > a {
            text-decoration: none;
            color: black;
            font-size: 15px;
        }
