@charset "UTF-8";

.container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-bottom: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin: 0 auto;
}

/* 페이지 구조(상단) */
.project-information {
	overflow: hidden;
	margin-bottom: 5%;
}

.project-div {
	margin-bottom: 4%;
	overflow: hidden;
}

.project-cartegory {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.project-cartegory>div {
	display: inline;
	font-size: 14px;
	padding-right: 1%;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 2px solid #c0c0c0;
	border-radius: 5px;
}

.project-name {
	height: 60px; /*프로젝트 이름 div 높이*/
	text-align: center; /* 가로 가운데 정렬*/
	line-height: 60px; /* 세로 가운데 정렬, height 크기와 동일하게 설정해주세욤!*/
	font-size: 30px; /*프로젝트 이름 글자 크기*/
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project-information {
	display: flex;
}

/* 페이지 상단 좌측 이미지 */
.project-img {
	flex-grow: 1; /*가로길이*/
	box-sizing: border-box;
	max-width: 600px;
	max-height: 500px;
}

.project-img img {
	width: 100%;
	height: 100%;
	padding-top: 40px;
}

/* 페이지 상단 우측 텍스트 스타일 */
.project-description {
	width: 50%; /*가로길이*/
	margin-top: 40px;
	margin-bottom: 20px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.project-description>div>div>p {
	text-align: left;
	width: 100%;
}

.project-text {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	margin-bottom: 10px; /* 모인 금액, 금액 사이 공백*/
}

.project-value {
	display: flex;
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	align-items: baseline;
	margin-bottom: 20px; /*금액 하단 공백*/
}

.project-text-unit {
	display: flex;
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	padding-left: 5px;
}

.project-text-alignment {
	padding-left: 15%;
	width: 100%;
}

.project-value_p {
	margin-left: 15px;
}

.project-text-alignment>div>div {
	padding-left: 1%;
	margin-right: 10%;
	display: flex;
	align-items: baseline;
	padding-top: 0%;
}

.goal-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.goal-text, .goal-value {
	display: inline-block;
}

.goal-unit-text {
	display: inline;
}

.goal-text+.goal-value {
	margin-left: 10px;
}

/* 페이지 상단 후원하기 버튼 스타일 */
.thin_line {
	background: #ebebeb;
	height: 1px;
	border: 0;
	margin-bottom: 3%;
}

.thick_line {
	width: 100%;
	background: #f0f0f0;
	height: 1px;
	margin-bottom: 3%;
	background: #f0f0f0;
}

/* 페이지 구조(하단) */
.product-div {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.product-description {
	margin-right: 5%;
	flex-grow: 1;
	height: auto;
	width: 700px;
}

.product-description>p {
	font-size: 20px;
}

.originator-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 3%;
	/* 고정 */
	position: sticky;
	top: 5px;
	left: 10px;
	width: 30%;
	height: 90%;
	border: 2px solid #c0c0c0;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-description>div>p>img {
	width: 100%;
}

.product-description>P>img {
	width: 100%;
}

.originator-div {
	display: flex;
	align-items: center;
}

.profile-container {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.profile-image img {
	width: 130px; /* 프로필 사진의 너비 설정 */
	height: 130px; /* 프로필 사진의 높이 설정 */
}

.profile-details {
	margin-left: 20px;
	margin-bottom: 20px;
}

.Donate_btn {
	display: flex;
	width: 204px;
	height: 44px;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.015em;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 8px;
	text-align: center;
	color: rgb(61, 61, 61);
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	border-radius: 22px;
	margin: 1px auto 0px;
	margin-top: 5%;
	background-color: #00E7AF;
	color: black;
	transition: background-color 0.3s ease;
}

.Donate_btn:hover {
	background-color: rgba(0, 231, 175, 0.6); /* 흐려진 색상으로 변경 */
}